*{
	margin:0;
	font-family:'Raleway',sans-serif;
}
.landing-fixed{
	background-image:url("cbg.png");
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat; 
	height:860px;
	width:100%;

}
.heading-one{
	font-family: 'Raleway', sans-serif;
	font-weight:lighter;
	font-size:80px;
	color:white;
	padding-left:40%;
	padding-top:25%;
	margin-bottom:6%;
}
.heading-tres{
	font-family: 'Raleway', sans-serif;
	font-weight:lighter;
	color:white;
	font-size:30px;
	margin-top:-5%;
	margin-bottom:5%;
	padding-left:35%;
}
a{
	text-decoration:none;
}
.button{
  text-decoration:none;
  color:white;
  border:2px solid white;
  padding-top:10px;
  font-weight:bolder;
  padding-bottom:10px;
  padding-left:18px;
  padding-right:18px;
  margin-left:45%;
  font-size:18px;
  text-transform:uppercase;
  position:relative;
  z-index:1;
  }
.button:after{
	content: "";
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	background: white;
	z-index: -1;
    transition: .3s;
}
.button:hover:after{
	height: 100%;
	opacity: 1;
}
.button:hover{
	border-color: none;
	color:#757575;
    text-decoration: none;
}
ul{
	list-style-type:none;
}
li{
	display:inline;
}
.nav-link{
	display:inline;
	color:white;
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
	padding-top:30px;
	padding-bottom:15px; 
	padding-left:7px;
	padding-right:7px;
    margin-right:14px;
	position:relative;
    z-index:1;
}
.nav-link:after{
	content: "";
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 0;
	opacity: 0;
	background: white;
	z-index: -1;
    transition: .3s;
}
.nav-link:hover:after{
	height: 100%;
	opacity: 1;
}
.nav-link:hover{
	border-color: none;
	color:#757575;
    text-decoration: none;
}
nav{
	background-color:ehite;
	margin-bottom:-5%;
	padding:2%;
	color:#000;
	padding-top:28px;
	z-index:10;
}
.spec-link{
  color:white;
  margin-right:820px;
}
.para-one{
	line-height:2; 
	padding-left:54%;
	margin-top:-20%;
	color:#757575;
}
.image-one{
	padding-top:6%;
    padding-left:3%; 
}
.image-two{
	margin-left:-14%;
}
.subone-fixed{
	padding-bottom:16%;
	margin-top:10%;
}
.heading-two{
	font-size:50px;
	line-height:1.3;	
	color:#757575;
	margin-bottom:6%;
}
.heading-two-two{
	font-size:50px;
	line-height:1.3;	
	margin-bottom:6%;
	margin-left:42%;
	padding-top:6%;
	color:#757575;
}
.heading-two-tres{
	font-size:50px;
	line-height:1.3;	
	margin-left:32%;
	margin-top:16%;
	color:#757575;
}
.logoz{
	display:inline-block;
}
.secondone{
	margin-left:22%;
	margin-top:-3.4%;
}
.onez{
    width:10%;
    height:10%;
    margin-top:55px;
    margin-left:8%;
}
.thirdone{
	margin-left:44%;
	margin-top:-5.7%;
}
.twoz{
	width:20%;
	height:20%;
	margin-left:50px; 
}
.trez{
	width:15%;
	height:15%;
	margin-top:10px;
	margin-left:50px;
}
.heading-four{
	font-size:50px;
	line-height:1.3;	
	margin-bottom:6%;
	margin-left:100px;
	color:#757575;
}
.fourz{
	height:8%;
	width:8%;
}
.fivez{
	width:65%;
	height:65%;
	margin-top:30px;
}
.fiveone{
	margin-left:78%;
	margin-top:-5.7%;
}
.fourthone{
	margin-left:65%;
	margin-top:-4.4%;
}
.para-three{
    line-height:2; 
	margin-left:100px;
	margin-bottom:6px;
	color:#757575;	
}
.card {
    display: block;
    margin: auto;
    margin-top:50px;
    background: #fff;
    font-family: 'Raleway';
    font-weight: 100;
    box-shadow: 0 17px 35px 0 rgba(0, 0, 0, 0.1), 0 7px 7px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 1s cubic-bezier(.10, .10, .25, .90);
    -moz-transition: all 1s cubic-bezier(.10, .10, .25, .90);
    width: 100%;
    max-width: 800px;
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.card__info {
    display: inline-block;
    width: 50%;
    padding: 20px;
    position: relative;
}

.card__info_title {
    width: 100%;
    font-size: 25px;
    font-weight: 100;
    color: #2196F3;
    padding-bottom:5%;
    margin-top:0px;
}

.card__info_date {
    display:block;
    width: 100%;
    font-size: 12px;
    padding: 10px 0;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa;
    margin-top:-20px;
}

.card__info_text {
    display: block;
    width: 100%;
    font-size:18px;
    line-height: 26px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-right: 10px;
    height: 60px;
    margin-top:0px;
    overflow: hidden;
    overflow-y: scroll;
}

.card__image {
    display: inline-block;
    width: 50%;
    position: absolute;
    top: -15px;
}

.card__image img {
    width: 100%;
}

.card__image::after {
    position: absolute;
    z-index: 999;
    top: 0;
    display: block;
    background: #FFF;
    opacity: 0;
    width: 100%;
    height: 100%;
    content: "";
    -webkit-transition: all 1s cubic-bezier(.10, .10, .25, .90);
    -moz-transition: all 1s cubic-bezier(.10, .10, .25, .90);
}

.card .card__image::before {
    content: "+";
    position: absolute;
    font-weight: 100;
    text-align: center;
    line-height: 180px;
    font-size: 120px;
    z-index: 999;
    top: -10%;
    left: -10px;
    width: 100%;
    color: #000;
    opacity: 0;
    height: 100%;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

.card:hover {
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 1s cubic-bezier(.10, .10, .25, .90);
    -moz-transition: all 1s cubic-bezier(.10, .10, .25, .90);
}

.card:hover .card__image::after {
    opacity: 0.6;
    -webkit-transition: all 1s cubic-bezier(.10, .10, .25, .90);
    -moz-transition: all 1s cubic-bezier(.10, .10, .25, .90);
}

.card:hover .card__image::before {
    opacity: 1;
    top: 0;
    -webkit-transition: all 1s cubic-bezier(.10, .10, .25, .90);
    -moz-transition: all 1s cubic-bezier(.10, .10, .25, .90);
}
.contact{
	position: relative;
	top: 140px;
	padding-top:0px;
	padding-bottom: 100px;

}
input{
	border:none;
	width:40%;
	outline:none;
	border-bottom:3px solid transparent;
	border-bottom-right-radius:2px;
	padding-left:10px;
	margin-bottom:2%;
	align-content:right;
	font-family: 'Roboto',verdana;
	font-size: 1.2rem;
	background: none;
}
input:focus{
	border-bottom-color:#3498db;
	transition:0.3s;
}

.testimonials-text{
    font-size:50px;
	line-height:1.3;	
	color:#757575;
	
	padding-bottom:0px;
	margin-top:2%;
}
.testimonials-text-two{
    font-size:20px;
	line-height:1.3;	
	color:#757575;
	padding-bottom: 60px;
}
.phone{
	position: relative;
	top: 60px;
	padding-top: 150px;
	font-family: 'Raleway',verdana;
	background: #3498db;
	padding-bottom: 70px;
	color: white;

}
.description{

	padding-bottom:  70px;
	width: 70%;
	color: #34495e;
}

.phone h1{
	font-weight: 400;
	padding-bottom: 10px;


}
.movies {
	position: absolute;
	top: 370px;
	left: 1050px;
	
	text-align: left;
}
.movies:after{
	position: absolute;
	content: "";
	border-bottom: 3px dashed #34495e;
	top: 50%;
	left: -110px;
	width: 35%;
	
	opacity: 1;
}
.music:after{
	position: absolute;
	content: "";
	border-bottom: 3px dashed #34495e;
	top: 50%;
	right: -120px;
	width: 35%;
	
	opacity: 1;
}
.games:after{
	position: absolute;
	content: "";
	border-bottom: 3px dashed #34495e ;
	top: 50%;
	left: -110px;
	width: 35%;
	
	opacity: 1;
}
.music{
	position: absolute;
	top: 520px;
	left: 120px;
	text-align: right;
}
.games{
	position: absolute;
	top: 670px;
	left: 1050px;
	text-align: left;
}
.naam{
	height:40px;
}
.mail{
	height:40px;
}
.kaam{
	height:80px;
}
.last_img{
	height:40%;
	width:40%;
	margin-left:54%;
	margin-top:-24%;
	padding-bottom:9%;
}
.btn{
  	border: 3px solid #3498db;
  	background: #fff;
  	background: transparent;
   	border-radius: 7px;
    padding-top:14px;
    padding-bottom:14px;
    padding-left:24px;
    padding-right:24px;
    color:#3498db;
    margin-top: 20px;
    outline:none;
    width: 41%;
    transition: .3s;
    position: relative;
    z-index: 1;
    font-family: 'Roboto',verdana;
    font-size: 1.2rem;	
}
.btn:after{
	height: 0;

	background:#3498db;

	position: absolute;
	content: "";
	z-index: -1;
	opacity: 0;
	width: 0;
	left: 0;
	top: 0;
	transition: .3s; 

}
.btn:hover{
	color: #fff;
	border:3px solid #3498db;
	border-radius: 7px;
}
.btn:hover:after{
	width: 100%;
	height: 100%;
	right: 0;
	opacity: 1;
}
footer{
	position: relative;
	top: 100px;
	width:100%;
	height:100px;
	background:#3498db;
	font-family:'Roboto',verdana;
	color:#fff;
	align-content:center;
}
.txt{
	padding-top: 2px;
}

